
body{
  margin-bottom: 25px;
  background-color: rgb(201, 201, 216);
  background-image: url(..);
  background-repeat: no-repeat;
  margin: 18px;
  }
h1{
  color: aqua;
}
.read{
  color: tomato;
  background-color: lightblue;
  cursor: pointer;
  padding: 5px;
  font-weight: 900;
  border-width: 3px;
  border-color: blueviolet;
  border-radius: 18px 4%;
  font-size: medium;
}
.read:hover{
  text-decoration: underline;
}
.facebook{
  background-color: lightblue;

  font-weight: 900;
  font-size: medium;
  margin-left:10px;
  border:3px solid blueviolet;
  border-color: blueviolet;
  border-radius: 18px 4%;
  cursor: pointer;
  padding: 5px;

}
.code{ 
  display: inline-block;
  border:3px solid green;
  text-align: justify;
  text-decoration: underline;
  padding-left: 122px;
  padding-right: 100px;
  width: 300px;
  height: 300px;
  
}
.new{
  padding: 50px;
}
.ifst{
  margin-left: 10px;
  text-align: right;
  margin-left: 50px;
}
.log{
  border-radius: 10px;
  background-color: blue;
  color: white;
  margin: 80px;
  cursor: pointer;
}
.log:hover{
  
}
.q{
  border: 2px solid green;
  display: inline-block;
}
codei{
  padding-left: 0;
}
